server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  application:
    name: orders
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

users:
  base-url: http://users:8083
